.movies__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 38px 20px;
  justify-content: center;
  list-style: none;
  margin: 0 0 58px;
  padding: 0;
}

.movies__button {
  width: 100%;
  max-width: 320px;
  height: 36px;
  border-radius: 6px;
  border: none;
  background: #f9f9f9;
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
}

.movies__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .movies__list {
    gap: 30px;
  }
}

@media screen and (max-width: 400px) {
  .movies__list {
    gap: 30px;
  }

  .movies__button {
    width: 100%;
    max-width: 240px;
  }
}
