.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  padding: 246px 0 60px;
  box-sizing: border-box;
}

.page-not-found__title {
  font-size: 140px;
  line-height: 169px;
  font-weight: 400;
  margin: 0 auto 5px;
}

.page-not-found__description {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  margin: 0;
}

.page-not-found__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #3456f3;
  margin-top: auto;
}

.page-not-found__link:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
  .page-not-found {
    padding: 408px 0 222px;
  }
}

@media screen and (max-width: 400px) {
  .page-not-found {
    padding: 329px 0 30px;
  }

  .page-not-found__title {
    font-size: 80px;
    line-height: 97px;
    margin: 0 auto 11px;
  }

  .page-not-found__description {
    font-size: 12px;
    line-height: 15px;
  }

  .page-not-found__link {
    font-size: 12px;
    line-height: 15px;
  }
}
