.search {
  margin-bottom: 117px;
  display: flex;
  flex-direction: column;
}

.search__form {
  box-sizing: border-box;
  padding: 0 0 14px 0;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
}

.search__input {
  width: 73%;
  border: none;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  color: #a0a0a0;
  margin: 0;
  padding: 0;
  outline: none;
}

.search__button {
  width: 58px;
  background: #3456f3;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 48px;
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
}

.search__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.search__switch-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search__switch {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 14px;
  border-radius: 20px;
  z-index: 1;
}

.search__checkbox {
  display: none;
}

.search__slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ebebeb;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.4s;
}

.search__slider::before {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 2px;
  bottom: 2px;
  background-color: #f5f5f5;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 0.4s;
}

.search__checkbox:checked + .search__slider {
  background-color: #2be080;
}

.search__checkbox:checked + .search__slider::before {
  transform: translateX(20px);
  background-color: #fff;
}

.search__switch-quote {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .search__form {
    padding: 0 0 13px 0;
    margin-bottom: 30px;
  }

  .search__switch-box {
    align-self: flex-end;
    gap: 18px;
  }

  .search__switch-quote {
    order: -1;
  }

  .search {
    margin-bottom: 131px;
  }
}

@media screen and (max-width: 400px) {
  .search__input {
    font-size: 18px;
    line-height: 22px;
  }

  .search__form {
    padding: 0 0 9px 0;
    margin-bottom: 41px;
  }

  .search__switch-box {
    align-self: center;
    gap: 18px;
  }

  .search__switch-quote {
    font-size: 11px;
    line-height: 18px;
  }

  .search {
    margin-bottom: 91px;
    padding: 0 4px;
  }
}
