.saved-movies {
  width: 100%;
  padding: 70px 70px 78px;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .saved-movies {
    padding: 80px 30px 98px;
  }
}

@media screen and (max-width: 400px) {
  .saved-movies {
    padding: 84px 10px 98px;
  }
}
