.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 70px;
  box-sizing: border-box;
  background: rgba(7, 48, 66, 1);
  position: relative;
}

.header_type_light {
  background: #fff;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 15px 15px;
  }
}
