.register {
  width: 100%;
  height: 100%;
  max-width: 396px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 0;
  box-sizing: border-box;
}

.register__content {
  width: 100%;
  height: 100%;
  max-height: 560px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.register__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  margin: 40px 0 40px;
}

.register__quote {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #a0a0a0;
  text-align: center;
  margin: 0;
  display: block;
  margin-top: 16px;
}

.register__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #3456f3;
  margin-top: 16px;
}

@media screen and (max-width: 450px) {
  .register {
    padding: 56px 30px 30px;
    justify-content: flex-start;
  }
  .register__content {
    align-items: center;
    max-height: 100%;
  }
  .register__quote {
    font-size: 12px;
    line-height: 15px;
  }
  .register__link {
    font-size: 12px;
    line-height: 15px;
  }
}
